@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Black.ttf);
}

.container {
    display: flex;
    margin: auto;
    /* flex-wrap: wrap; */
    flex-direction: column;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 14px;
}

a.button {
    color: #e5e7eb;
}

a.nav {
    color: #e5e7eb;
    font-size: 18px;
}

h1 {
    /* border: 5px solid red; */
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 800;
    color:  #f9faf8;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: block;
    text-align: center;
}

header {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    flex-wrap: wrap;
    height: 700px;
    flex: 2;
    margin: 0px 40px 0px 40px;
    padding: 40px 0px 100px 0px;
}

nav{
    /* border: 5px solid red; */
    color: #e5e7eb;
    font-size: 18px;
    width: 40%;
    margin: auto;
    display: flex;
    margin-top: 0px;
    /* align-content: space-between; */
    position: relative; top: -30px;
}
.mainSub {
    /* border: 5px solid red; */
    color: #e5e7eb;
    font-size: 18px;
    position: relative; top: -30px;
}

img.head {
    /* border: 5px solid red; */
    height: 200px;
    width: 525px;
    background-color: cadetblue;
    margin-left: 80px;
    position: relative; top: 30px;
}

p.head {
    /* border: 5px solid red; */
    font-size: 24px;
    color:  #f9faf8;
    width: 30%;
    /* margin: 0px, 0px, 0px, 0px; */
    margin-bottom: auto;
    margin-top: 0px;
    margin-left: 100px;
    align-content: center;
    position: relative; top: -30px;
}

.headItem {
    /* border: 5px solid black; */
    margin-left: 100px;
}

ul.nav {
    list-style: none;
    display: flex;
    margin: auto;
    align-content: space-between;
}

li {
    display: inline-block;
    padding-right: 20px;
}

button.head {
    display: inline;
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    position: relative; top: -40px;
}
/* border-radius: 8px;
    border: solid #e5e7eb ;
    background-color: #3882f6;
    width: 120px;
    height: 30px;
    align-self: flex-end;
    margin: 0px 100px 40px 0px;
    padding: 0px 0px 0px 0px;
    position: relative; left: -30px; top: -30px;
    color: #e5e7eb; */

div.main {
    /* border: 5px solid red; */
    display: flex;
    /* background-color: aquamarine; */
    flex-direction: row;
    flex: 2;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: auto;
}
 img.main {
    border: 5px solid #3882f6;
    border-radius: 25%;
    height: 150px;
    width: 150px;
    display: inline;
    margin: 20px;
    background-color: grey;
 }
 figure {
    height: 200px;
    width: 200px;
    display: inline;
    margin: 20px;
 }

 div.quote {
    display: flex;
    flex: 2;
    background-color: #e5e7eb;
    height: 500px;
    justify-content: center;
    margin: 0px 40px 0px 40px;

 }

 div.call {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #3882f6;
    padding: 10px;
    margin: 100px 180px 100px 180px;
    border-radius: 12px;
 }

 blockquote {
    font-size: 36px;
    font-style: light;
    color: #1f2937;
    margin: auto;
 }

 p.quote {
    text-align: right;
 }

 button.call {
    border-radius: 8px;
    border: solid #e5e7eb ;
    background-color: #3882f6;
    width: 120px;
    height: 30px;
    align-self: flex-end;
    margin: 0px 100px 40px 0px;
    padding: 0px 0px 0px 0px;
    position: relative; left: -30px; top: -30px;
    color: #e5e7eb;
    text-decoration: none;
 }

 p.callTop {
    color: #f9faf8;
    font-size: 28px;
    /* border: solid red; */
    width: fit-content;
    margin: 10px 0px 0px 60px;
    padding-top: 30px;
    height: fit-content;
    position: relative; left: 40px;
 }

 p.callBottom {
    color: #e5e7eb;
    /* border: solid red; */
    width: fit-content;
    height: fit-content;
    margin: 0px 0px 0px 60px;
    position: relative; left: 40px;
 }

 footer {
    background-color: #1f2937;
    text-align: center;
    color: #e5e7eb;
    height: 100px;
    margin: 0px 40px 0px 40px;
    padding: 40px 0px 0px 0px;
    /* position: relative; top: 20px; */
 }